<!DOCTYPE html>
<title>Scaling Viki - {{ title }}</title>
<meta name=viewport content="width=device-width,initial-scale=1">
<meta charset="utf-8">
<style>
*{padding:0;margin:0;}
html,body{height:100%;}
body{font-family:arial;background:#333;font-size: 22px}
a{color:#FDDD78;text-decoration:none;}
a:hover{color:#ccc;text-decoration:underline;}
p{line-height:28px;padding:5px 30px 5px 10px}
h1{font-size:20px;padding:16px 0 2px;}
h1 a{color:#fff;}
h2{font-size:24px;padding:10px 10px 5px}
h3{font-size:18px;padding:20px 0 0;}
pre,code{font-family:'Menlo','Consolas',monospace}pre .comment{color:#7e7e7e;font-style:italic}pre .constant,pre .integer{color:#18838a;font-weight:bold}pre .storage{color:#0000a1}pre .string{color:#8e0022}pre .keyword,pre .selector{color:#0000a1;font-weight:bold}pre .parent{font-style:italic}pre .entity,pre .meta{color:#3e853f}pre .support{color:#192140}pre .variable.global,pre .variable.class,pre .variable.instance{color:#3e853f}
pre{width:95%;margin:5px 0 10px;padding:10px;color:#000;overflow-x:scroll;font-size:16px;line-height:20px;border:1px solid #ddd;border-radius:4px}

#content, #menu{float:left;min-height:100%;}
#content a{color:#185DC5;text-decoration:underline;}
#content a:hover{color:#444;}
#content {border-right:1px solid #000;background:#f0f0f0;margin:0 360px 0 20px;padding-left:20px;}
#menu{width:350px;color:#fff;position:fixed;top:0;right:0;}
#menu h2{margin:15px 0 3px;font-size:100%;padding:0;font-weight:normal;}
#menu h3{margin:0 0 10px;font-size:90%;padding:0;font-weight:normal;}
#dl a{padding-right:20px;}
#menu p{padding-left:0;line-height:28px;}
#soon p {color:#bbb;line-height:20px;}

#nav{margin:40px 0}
#nav a:first-child{margin-left:10px;}
#nav a:last-child{float:right;margin-right:30px;}
</style>
<div id=content>
  <h2>{{ title }}</h2>
  {{ content }}
</div>
<div id=menu>
<h1><a href=/scaling-viki/>Scaling Viki</a></h1>
<p><a href=/scaling-viki/Chapter-1-Introduction>1 - Introduction</a></p>
<p><a href=/scaling-viki/Chapter-2-The-Core>2 - The Core</a></p>
<p><a href=/scaling-viki/Chapter-3-Holdbacks>3 - Holdbacks</a></p>
<p><a href=/scaling-viki/Chapter-4-Tweaks>4 - Tweaks</a></p>
<p><a href=/scaling-viki/Chapter-5-Surprisingly-Reusable>5 - Surprisingly Reusable</a></p>
<p><a href=/scaling-viki/Chapter-6-Writes-Bloat-and-Queues>6 - Writes, Bloat and Queues</a></p>
<p><a href=/scaling-viki/Chapter-7-Conclusion>7 - Conclusion</a></p>
<h2>Appendices</h2>
<p><a href=/scaling-viki/Appendix-A-Why-Node>A - Why Node?</a></p>
<p><a href=/scaling-viki/Appendix-B-I-Love-Premature-Optimizations>B - I Love Premature Optimizations</a></p>
<p><a href=/scaling-viki/Appendix-C-Our-Simple-AutoComplete>C - Our Simple AutoComplete</a></p>
<h2>Free Download</h2>
<p id=dl><a href=/assets/viki/scaling-viki.pdf>pdf</a> <a href=/assets/viki/scaling-viki.epub>epub</a> <a href=/assets/viki/scaling-viki.mobi>kindle</a> <a href=https://github.com/karlseguin/scaling-viki>github</a></p>
</div>
