---json
{
  "permalink": "feed.xml",
  "layout": null,
  "eleventyExcludeFromCollections": true,
  "meta": {
    "url": "https://www.openmymind.net/"
  }
}
---
{%- set posts = collections.all | public | reverse -%}
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ meta.url }}">
	<title>Karl Seguin</title>
	<subtitle>Programming blog exploring Elixir, Go, Testing, Design and Performance</subtitle>
	<link href="{{ permalink | absoluteUrl(meta.url) }}" rel="self"/>
	<link href="{{ meta.url }}"/>
	<updated>{{ posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<id>{{ meta.url }}</id>
	<author><name>Karl Seguin</name></author>
	{%- for post in posts %}
	{%- set absolutePostUrl = post.url | absoluteUrl(meta.url) %}
	<entry>
		<title>{{ post.data.title }}</title>
		<link href="{{ absolutePostUrl }}"/>
		<updated>{{ post.date | dateToRfc3339 }}</updated>
		<id>{{ absolutePostUrl }}</id>
		<content xml:lang="en" type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
	</entry>
	{%- endfor %}
</feed>
