<!DOCTYPE html>
<html lang="en-US">
<title>Karl Seguin</title>
<meta charset="utf-8">
<meta name=referrer content=origin>
<meta name=viewport content="width=device-width,initial-scale=1">
<meta name=description content="Programming blog exploring Zig, Elixir, Go, Testing, Design and Performance">
<link href=atom.xml rel=alternate type=application/atom+xml>

<style>
*{padding:0;margin:0;}
body{font-family:sans-serif;font-size: 20px;}
a{text-decoration:none;color:#3063df;}
a:hover{text-decoration:underline;color:#000;}

ul{font-size: 85%; list-style:none; display: flex; justify-content: right;}
ul a{display: inline-block; padding: 10px 20px}

main{margin: 20px auto;padding: 10px 0 0 20px;max-width: 760px}
main > div {border-top: 1px solid #ddd; display: flex; margin: 5px 0}
main > div:first-of-type{border: 0}
main > div > a { flex: auto; padding: 15px 0;}
main b {font-weight: normal;font-size: 16px;color: #666;margin-left: auto; align-self: center; white-space: nowrap}
div.s + div:not([class=s]) {border-top: 0}

.s {border: 10px solid #eee;padding: 10px;margin:10px -20px}
.s b {align-self: flex-start;}
main p {margin: 15px 0;line-height: 26px}
code { padding: 0 3px; border-radius: 4px; background: #fffce3; border: 1px solid #e9e9e5;}

@media screen and (max-width: 800px) {
	main{margin-right: 10px}
	ul a{padding: 10px}
	div.s{margin: 10px 0}
}
</style>
<ul><li><a href=atom.xml>rss</a><li><a href=mailto:blog@karlseguin.com>contact</a><li><a href=https://www.aolium.com/karlseguin>aolium</a><li><a href=https://www.github.com/karlseguin>github</a></ul>
<main>
{%- set posts = all_posts(collections.all, aolium) -%}
{%- for post in posts %}
{%- if post.inline %}
<div class=s><div>{{ post.content | safe }}</div><b>{{ post.date | post_date }}</b></div>
{%- else -%}
<div><a href={{ post.url }}>{{ post.title }}</a><b>{{ post.date | post_date }}</b></div>
{%- endif -%}
{%- endfor -%}
</main>
