<!DOCTYPE html>
<html lang="en-US">
<title>Karl Seguin</title>
<meta charset="utf-8">
<meta name=referrer content=origin>
<meta name=viewport content="width=device-width,initial-scale=1">
<meta name=description content="Programming blog exploring Zig, Elixir, Go, Testing, Design and Performance">
<link href=atom.xml rel=alternate type=application/atom+xml>

<style>
	:root {
	--bg: #fff;
	--fg: #333;
	--a: #00f;
	--a-h: #000;
	--b: #666;
}

[data-theme="dark"] {
	--bg: #111;
	--fg: #ddd;
	--a: #99b7ff;
	--a-h: #49b7ff;
	--b: #ccc;
}

*{padding:0;margin:0;}
body{font-family:sans-serif;font-size: 20px; background: var(--bg); color: var(--fg)}
a{text-decoration:none;color:var(--a);}
a:hover{text-decoration:underline;color:var(--a-h);}

header{font-size: 85%; list-style:none; display: flex; justify-content: right;}
header a{display: inline-block; padding: 10px 20px}

main{margin: 5px auto;padding: 10px 0 0 20px;max-width: 760px}
main > a {display: flex; padding: 7px 10px; line-height: 28px;}
main > a > b {font-weight: normal;font-size: 18px;color: var(--b);margin-left: auto;white-space: nowrap}

@media screen and (max-width: 800px) {
	main{margin-right: 10px}
	ul a{padding: 10px}
	div.s{margin: 10px 0}
}
</style>
<script>
	if (localStorage.getItem('theme') === 'dark') {
		document.documentElement.setAttribute('data-theme', 'dark');
	}
</script>

<header><a href=https://bsky.app/profile/karlseguin.com>bsky</a><a href=atom.xml>rss</a><a href=mailto:blog@karlseguin.com>contact</a><a href=https://www.github.com/karlseguin>github</a><a href=# id=theme>dark</a></header>
<main>
{%- set posts = all_posts(collections.all) -%}
{%- for post in posts %}
{%- if post.type == 'blog' or post.type == 'long' %}
<a href={{ post.url }}>{{ post.title }}<b>{{ post.date | post_date }}</b></a>
{%- endif -%}
{%- endfor -%}
</main>

<script>
const t = document.getElementById('theme');
const de = document.documentElement;
t.addEventListener('click', () => {
	if (t.innerText == 'dark') {
		de.setAttribute('data-theme', 'dark');
		localStorage.setItem('theme', 'dark');
		t.innerText = 'light';
	} else {
		de.removeAttribute('data-theme', 'dark');
		localStorage.removeItem('theme');
		t.innerText = 'dark';
	}
});
if (de.getAttribute('data-theme')) t.innerText = 'light';
</script>
