<!DOCTYPE html>
<html lang="en-US">
<title>Karl Seguin</title>
<meta charset="utf-8">
<meta name=referrer content=origin>
<meta name=viewport content="width=device-width,initial-scale=1">
<meta name=description content="Programming blog exploring Elixir, Go, Testing, Design and Performance">
<link href=atom.xml rel=alternate type=application/atom+xml>
<link href=feed.xml rel=alternate type=application/rss+xml>

<style>
*{padding:0;margin:0;}
body{font-family:sans-serif;font-size: 22px;display: flex; flex-direction: column;}
a{text-decoration:none;color:#111;}
a:hover{text-decoration:underline;color:#000;}

ul{font-size: 85%; list-style:none; display: flex; justify-content: right;}
ul a{display: inline-block; color:#2c57d7;padding: 10px 20px}

main{margin: 0 auto;padding: 10px 0 0 20px;max-width: 1000px}
main a {display: block;padding-bottom: 5px; color: #444}
main b {display: inline-block;font-weight: normal;font-size: 18px;color: #555;padding-bottom: 30px}

@media screen and (max-width: 800px) {
	ul a{padding: 10px}
}
</style>
<ul><li><a href=rss.xml>rss</a><li><a href=mailto:blog@karlseguin.com>contact</a><li><a href=https://twitter.com/karlseguin>twitter</a><li><a href=https://www.whysolazy.com>free apis</a><li><a href=https://links.openmymind.net>tech links</a></ul>
<main>
{%- assign posts = collections.all | public | reverse -%}
{%- for post in posts %}
<a href={{ post.url }}>{{ post.data.title }}</a><b>{{ post.date | date: "%d %b %y" }}</b>
{%- endfor -%}
</main>
